:root {
    --primary-color: #26547C;
    --accent-color: #EF476F;
    --secondary-color: #FFD166;
    --tertiary-color: #06D6A0;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--primary-color, #26547C);
}

main {
    margin-top: 10rem;
    max-width: 1024px;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    h1 {
        font-size: 3.2rem;
        text-transform: uppercase;
        color: var(--accent-color)
    }
}

#container-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 40rem;

    button {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.9rem;
        font-weight: 300;
        transition: all .5s ease-in;

        &.btn-active,
        &:hover {
            font-weight: 600;
            font-size: 2rem;
            color: var(--accent-color);
            transition: all .5s ease-in;
        }


    }
}

.container-time {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    transition: all 0.5s ease-in;

    h2 {
        width: 20rem;
        height: 20rem;
        border: 4px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        font-size: 8rem;
        color: #fff;
        padding: 5rem;

    }


    button.increment,
    button.decrement {
        position: absolute;

        border: none;
        outline: none;
        font-size: 3rem;
        background: transparent;

        .icon {
            width: 90px;
            height: 90px;
            color: #fff;
        }
    }

    button.increment {
        right: -50px;
        bottom: -60px;
    }

    button.decrement {
        bottom: -60px;
        left: -50px;
    }

}


.container-start
{
    margin-top: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    button
    {
        border: none;
        outline: none;
        background: transparent;
    }
}


.icon-start
{
    width: 13rem;
}

.play-icon {
    position: relative;
    top: -30px;
    color: var(--accent-color);
}

.stop-icon,
.reset-icon
{
    color: var(--secondary-color);
}

.reset-icon
{
    transform: rotate(180deg);
}


.hidden
{
    opacity: 0;
    transition: all 0.5s ease-in;
}
